
body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  overflow-x: hidden;
}

h1 {
  font-size: 26px;
  margin-bottom: 10px;
  margin-top: 0;
}

h2 {
  font-weight: normal;
  font-size: 16px;
  margin-top: 0;
}

.main {
  display: flex;
  flex-direction: column;
}

.dashboard {
  width: 100%;
  height: auto;
  background: linear-gradient(180deg, rgba(0,102,255,1) 0%, rgba(255,255,255,1) 100%);
  top: 0;
  left: 0;
}

.title {
  text-align: center;
  font-size: clamp(55px, calc(55px + (75 - 55) * ((100vw - 300px) / (1600 - 300))), 75px);
  color: black;
}

.apv-img {
  width: 400px;
  height: auto;
  margin-bottom: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.apv {
  color: black;
  position: absolute;
  left: 10vw;
  right: 10vw;
}

@media screen and (max-width: 850px) {

}

@supports (-webkit-touch-callout: none) {

}